
.form-control--invalid label,
.form-control--invalid p {
  color: red;
   font-family: "Quicksand";
   text-transform: none;
   margin-bottom: 30px;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}
