$main-color: #D4D4D8;
$font-color: #ffffff;
$border-color: #5c5c5c;
$cart-color: #90bf00;
$cart-shadow:#a2c929 0 2px 9px 0px;
$fill:#ffffff80;

$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
$breakpoint-tablet: 958px;
$breakpoint-mobile-wide: 650px;
$breakpoint-mobile: 480px;
